@media only screen and (max-width: 991px) {
  
  .navbar-collapse{ 
    left: 0px !important;
    float: none !important;
  }
}

@media only screen and (max-width: 600px) {
    .width-80{ 
      width:100%;
    }
}